# promtail-values.yaml
daemonset:
  enabled: true

config:
  server:
    http_listen_port: 9080
  positions:
    filename: /tmp/positions.yaml
  clients:
    - url: http://loki.monitoring.svc.cluster.local:3100/loki/api/v1/push

  scrape_configs:
    - job_name: kubernetes-pods-lms
      pipeline_stages:
        - docker: {}
      kubernetes_sd_configs:
        - role: pod
      relabel_configs:
        # Only namespace "lms"
        - source_labels: [__meta_kubernetes_namespace]
          action: keep
          regex: lms
        # Only lms-backend or lms-mqtt-consumer pods
        - source_labels: [__meta_kubernetes_pod_name]
          action: keep
          regex: 'lms-backend.*|lms-mqtt-consumer.*'
        - source_labels: [__meta_kubernetes_pod_name]
          target_label: pod
        - source_labels: [__meta_kubernetes_namespace]
          target_label: namespace
        - source_labels: [__meta_kubernetes_container_name]
          target_label: container


