apiVersion: v1
kind: Service
metadata:
  name: minio-nodeport
  namespace: minio
  labels:
    app: minio
spec:
  type: NodePort
  ports:
    - name: api
      port: 9000
      targetPort: 9000
      protocol: TCP
      nodePort: 30290
    - name: console
      port: 9001
      targetPort: 9001
      protocol: TCP
      nodePort: 30291
  selector:
    app: minio

