# Harbor Helm values configured for external Postgres and Redis

expose:
  type: nodePort
  tls:
    auto:
      commonName: harbor.washgo247.com
  #   enabled: true
  #   certSource: secret
  #   secret:
  #     secretName: harbor-tls
  nodePort:
    name: harbor
    ports:
      http:
        port: 80
        nodePort: 30105
      # https:
      #   port: 443
      #   nodePort: 30106

externalURL: https://harbor.washgo247.com

harborAdminPassword: "22cs35hRpZQa"

database:
  type: external
  external:
    host: postgres-clusterip.database.svc.cluster.local
    port: 5432
    username: washgo247.admin
    sslmode: disable
    coreDatabase: harbor
    notaryServerDatabase: notary_server
    notarySignerDatabase: notary_signer
    existingSecret: harbor-db-secret

redis:
  type: external
  external:
    addr: redis-clusterip.redis.svc.cluster.local:6379
    registryDatabaseIndex: 1
    jobserviceDatabaseIndex: 2
    trivyAdapterDatabaseIndex: 5
    existingSecret: harbor-redis-secret

persistence:
  enabled: true
  resourcePolicy: "keep"
  imageChartStorage:
    type: filesystem
    filesystem:
      rootdirectory: /storage

chartmuseum:
  enabled: false

trivy:
  enabled: true
  persistence:
    enabled: true
    size: 5Gi

jobservice:
  replicas: 1

core:
  replicas: 1

portal:
  replicas: 1

registry:
  replicas: 1

notary:
  enabled: false


