apiVersion: v1
kind: Service
metadata:
  name: redis-nodeport
  namespace: redis
  labels:
    app: redis
spec:
  type: NodePort
  ports:
    - port: 6379
      targetPort: 6379
      protocol: TCP
      nodePort: 30102
  selector:
    app: redis


