apiVersion: v1
kind: ConfigMap
metadata:
  name: rancher-registry-config
  namespace: registry
  labels:
    app: rancher-registry
data:
  config.yml: |
    version: 0.1
    log:
      fields:
        service: registry
    storage:
      filesystem:
        rootdirectory: /var/lib/registry
    http:
      addr: :5000
      headers:
        X-Content-Type-Options: [nosniff]
      secret: ${REGISTRY_HTTP_SECRET}


