apiVersion: v1
kind: Service
metadata:
  name: mosquitto-clusterip
  namespace: mosquito-mqtt
  labels:
    app: mosquitto
spec:
  type: ClusterIP
  ports:
    - name: mqtt
      port: 1883
      targetPort: 1883
      protocol: TCP
  selector:
    app: mosquitto


