apiVersion: v1
kind: Service
metadata:
  name: postgres-nodeport
  namespace: database
  labels:
    app: postgres
spec:
  type: NodePort
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
      nodePort: 30100
  selector:
    app: postgres
