apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources-loki
  namespace: monitoring
  labels:
    grafana_datasource: "1"
    app.kubernetes.io/instance: prometheus
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/part-of: kube-prometheus-stack
    app.kubernetes.io/version: "78.2.1"
    chart: kube-prometheus-stack-78.2.1
    heritage: Helm
    release: prometheus
data:
  loki-datasource.yaml: |-
    apiVersion: 1
    datasources:
    - name: Loki
      type: loki
      url: http://loki:3100
      access: proxy
      isDefault: false
      jsonData:
        maxLines: 1000


