# loki-values.yaml
persistence:
  enabled: true
  storageClassName: vngcloud-ssd-3000-delete
  accessModes:
    - ReadWriteOnce
  size: 15Gi

deploymentMode: SingleBinary
write:
  replicas: 0
read:
  replicas: 0
backend:
  replicas: 0

loki:
  commonConfig:
    replication_factor: 1
  storage:
    type: filesystem
  schemaConfig:
    configs:
      - from: 2020-10-24
        store: boltdb-shipper
        object_store: filesystem
        schema: v11
        index:
          prefix: index_
          period: 24h
  compactor:
    retention_enabled: true
    retention_delete_delay: 2h
    retention_delete_worker_count: 50
  limits_config:
    retention_period: 7d
