# prometheus-values.yaml
grafana:
  enabled: true
  adminUser: admin
  adminPassword: admin
  persistence:
    enabled: true
    storageClassName: vngcloud-ssd-3000-delete
    accessModes:
      - ReadWriteOnce
    size: 3Gi
  # Optional: expose Grafana inside cluster only
  service:
    type: ClusterIP
    port: 80

prometheus:
  prometheusSpec:
    retention: 30d               # only 30d metrics
    scrapeInterval: 15s
    evaluationInterval: 30s
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: vngcloud-ssd-3000-delete
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi

alertmanager:
  enabled: false  # disable for now