grafana:
  enabled: true
  adminUser: admin
  adminPassword: admin   # nên dùng secret sau

  deploymentStrategy:
    type: Recreate

  persistence:
    enabled: true
    storageClassName: vngcloud-ssd-3000-delete
    accessModes:
      - ReadWriteOnce
    size: 3Gi

  service:
    type: ClusterIP
    port: 80

alertmanager:
  enabled: false

prometheus:
  prometheusSpec:
    retention: 7d
    scrapeInterval: 30s
    evaluationInterval: 60s

    externalLabels:
      cluster: production
      environment: production

    walCompression: true
    enableAdminAPI: false
    enableRemoteWriteReceiver: true

    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: vngcloud-ssd-3000-delete
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 20Gi

prometheus-node-exporter:
  hostNetwork: true
  hostPID: true
