replicaCount: 1

image:
  registry: quay.io
  repository: prometheuscommunity/postgres-exporter
  tag: v0.15.0
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 9187
  name: metrics

# Datasource configuration
config:
  datasource:
    host: "postgres-clusterip.database.svc.cluster.local"
    user: "postgres_exporter"
    pass: "STRONG_PASSWORD"
    port: "5432"
    database: "postgres"
    sslmode: "disable"

  # Metrics collectors configuration
  exporter:
    default_metrics:
      enabled: true

serviceMonitor:
  enabled: true
  namespace: database
  interval: 30s
  scrapeTimeout: 10s
  labels:
    release: prometheus # VERY IMPORTANT for kube-prometheus-stack

extraEnvs:
  - name: DATA_SOURCE_NAME
    value: "postgresql://postgres_exporter:STRONG_PASSWORD@postgres-clusterip.database.svc.cluster.local:5432/postgres?sslmode=disable"

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 256Mi
